Different term for occluded data

Op 06-03-2024 om 22:06 schreef Wessels, Duane:
> Hi, some initial thoughts:
>
> RFC 2181 says "Data from a zone transfer, other than glue” but this draft doesn’t make any exceptions for glue or non-authoritative data from a zone transfer.  Is that intentional?

Well, RFC 2181 had a uniquely broad definition of glue (see also the terminology draft: https://www.ietf.org/archive/id/draft-ietf-dnsop-rfc8499bis-10.html#section-7-2.29), so I came up with "other than occluded data" to be more generic, but I suppose that wouldn't include the delegation NS records themselves, so that won't work either. I'll try to come up with something better...

Perhaps we need to call it "non-authoritative data" and define it as all RRsets that are not authoritative RRsets, and then reference the definition of authoritative RRsets from Section 2 of RFC 4033 https://www.rfc-editor.org/rfc/rfc4033.html#page-4